.burger-animation div{
  transition: all .4s ease;
}
.burger-animation :nth-child(1){
  transform-origin: top left;
  transform: rotate(45deg) translateX(3px);
}
.burger-animation :nth-child(2){
  transform: translateX(30px);
  opacity: 0;
}
.burger-animation :nth-child(3){
  transform-origin: top left;
  transform: rotate(-45deg) translate(-2px, 2px);
}
/*FADE IN FIRST HERO*/
.first-hero{
  opacity: 0;
  background-color: black;
}
.fade-in{
  opacity: 1;
  transition: all .9s ease;

}
.jumping{
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/*JUMPING ARROW*/
@keyframes bounce {
  0%{
    transform: translateY(00px);
    animation-timing-function: ease;
  }
  10%{
    transform: translateY(-15px);
    animation-timing-function: ease-in;

  }
  20%{
    transform: translateY(00px);
    animation-timing-function: ease;
  }
  30%{
    transform: translateY(-15px);
    animation-timing-function: ease-in;

  }
  40%{
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
  100%{
    transform: translateY(00px);
  }

}
