/*MODAL DESIGN FOR DESKTOP*/
.modal-container{
  width: 100vw;
  height: 50vh;
  background-color: transparent;
  position: fixed;
  /* display: flex; */
  justify-content: center;
  display: none;
  top: 25vh;
  z-index: 400;
}
.close{
  height: 5vh;
  width: 3vh;
  align-self: flex-end;
  margin: 0 34px 0 0;
}
.close svg{
  width: 3vh;
  height: 3vh;
}
.close:hover{
  cursor: pointer;
}
.modal{
  background-color: #1A1A24;
  width: 60vw;
  border: 1vh solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.modal h5{
  font-size: 4.5vh;
  font-family: "AktivGrotesk-Bold";
  margin-bottom: 4vh;
}
.modal-newsletter{
  width: 18vw;
}
.modal-notice{
  text-align: center;
  font-size: 3.3vh;
  font-family: "AktivGrotesk-Regular";
  margin-bottom: 1.5vh;
}
.modal-inputfield-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-input{
  height: 4vh;
  width: 80%;
  background-color: transparent;
  border: 1px solid white;
  font-size: 2.3vh;
  padding-left: .3vw;
}
.modal-button{
  width: 20%;
  height: 4.2vh;
  background-color: #00205a;
  border: 1px solid white;
  border-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal img{
  height: 8vh;
  width: 8vh;
  margin-bottom: 3vh;
}
.modal-button img{
  height: 1vh;
  width: 2vw;
  margin: 0px;
}
.modal-latest-news{
  font-size: 1vh;
  border-bottom: 1px solid white;
  font-size: 2.9vh;
  margin-bottom: 2vh;
  text-align:center;
}
.modal-button:hover{
  cursor: pointer;
  background-color: #1f4896;
}
