/*HIDING THE DROPIN*/
.drop-in{
  display: none;
  position: absolute;
}
.main-navbar{
  height: 10vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
}
.burger{
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}
.navbar-container{
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-rows: 2vh 1fr;
  grid-template-columns: 70px 200px 2fr 5fr 60px;
  z-index: 50;
}
.navbar-logo{
  width: 200px;
  height: auto;
  grid-column: 2 / 2;
  grid-row: 2;
}
.nav-items{
  grid-column: 4 / 4;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-container{
  grid-column: 8;
  grid-row: 2;
  z-index: 300;
}
.burger{
  display: none;
}
.nav-contact:hover{
  cursor: pointer;
  text-decoration: underline;
}
.nav-newsletter:hover{
  cursor: pointer;
  text-decoration: underline;
}
.nav-brochure:hover{
  cursor: pointer;
  text-decoration: underline;
}
.nav-about:hover{
  cursor: pointer;
  text-decoration: underline;
}
.lang-button{
  height: 5vh;
  font-size: 2vh;
  background-color: transparent;
  border: 0px;
  font-size: 22px;
  font-family: "AktivGrotesk-Light";
  letter-spacing: 1.39px;
  font-weight: bold;
  color: #A4A4A4;
  cursor: pointer;
}
.nav-item button{
  margin-left: 4vw;
}
.nav-item{
  /* padding-top: 12px; */
  font-size: 22px;
  font-family: "AktivGrotesk-Light";
  letter-spacing: 1.39px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin-left: 40px;
}
.burger-container{
  display:none;
}
