.burger-animation div{
  transition: all .4s ease;
}
.burger-animation :nth-child(1){
  transform-origin: top left;
  transform: rotate(45deg) translateX(3px);
}
.burger-animation :nth-child(2){
  transform: translateX(30px);
  opacity: 0;
}
.burger-animation :nth-child(3){
  transform-origin: top left;
  transform: rotate(-45deg) translate(-2px, 2px);
}
/*FADE IN FIRST HERO*/
.first-hero{
  opacity: 0;
  background-color: black;
}
.fade-in{
  opacity: 1;
  transition: all .9s ease;

}
