/*MODAL DESIGN FOR MOBILE*/
@media only screen and (max-width: 1100px) {
  .close{
    margin-right: 3.5vh;
  }
  .modal-container{
    top: 20vh;
    height: 60vh;
  }
  .modal{
    width: 90vw;
  }
  .modal p{
    width: 70%;
    text-align: center;
  }
  .modal h5{
    width: 70%;
    text-align: center;
  }
  .newsletter-modal{
    width: 72%;
  }
  .newsletter-modal p{
    width: 100%;
    font-size: 5vw;
    margin-bottom: .5vh;
    text-align: center;
    letter-spacing: 2.46px;
  }
  .input-modal{
    height: 3vh;
    width: 55vw;
    background-color: transparent;
    border: 1px solid white;
    font-size: 2vh;
  }
  .button-modal{
    width: 5vh;
    height: 3.7vh;
  }
  .button-modal img{
    height: 3vh;
    width: 60%;
    margin: 0px;
  }
  .inputfield-modal-form{
    display: flex;
    justify-content: center;
    width: 55vw;
  }
  .latest-news{
    border-bottom: 1px solid white;
  }
}
