/*MODAL DESIGN FOR MOBILE*/
@media only screen and (max-width: 1100px) {
  .close{
    margin-right: 3.5vh;
  }
  .modal-container{
    top: 20vh;
    height: 60vh;
  }
  .modal{
    width: 90vw;
  }
  .modal p{
    text-align: center;
  }
  .modal h5{
    width: 70%;
    text-align: center;
  }
  .modal-newsletter{
    width: 80%;
  }
  .modal-inputfield{
    height: 4vh;
  }
  .modal-button{
    width: 20%;
    height: 4.1vh;
  }
  .modal-button img{
    height: 3vh;
    width: 60%;
    margin: 0px;
  }
  .modal-inputfield-form{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .modal-latest-news{
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 2vh;
    text-align: center;
    letter-spacing: 2.46px;
    font-size: 3.5vh;
  }

  .modal-input{
    width: 80%;
  }
}
