/*MODAL DESIGN FOR DESKTOP*/
.newsletter-modal{
  width: 30vw;
}
.modal-container{
  width: 100vw;
  height: 50vh;
  background-color: transparent;
  position: fixed;
  /* display: flex; */
  justify-content: center;
  display: none;
  top: 25vh;
  z-index: 400;
}
.close{
  height: 5vh;
  width: 2vh;
  align-self: flex-end;
  justify-self: start;
  margin: 0 34px 0 0;
}
.close svg{
  width: 3vh;
  height: 3vh;
}
.close:hover{
  cursor: pointer;
}
.modal{
  background-color: #1A1A24;
  width: 60vw;
  border: 1vh solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.modal p{
  font-size: 3.3vh;
  font-family: "AktivGrotesk-Regular";
  margin-bottom: 1.5vh;
}
.modal h5{
  font-size: 4.5vh;
  font-family: "AktivGrotesk-Bold";
  margin-bottom: 4vh;
}
.newsletter-modal p{
  width: 100%;
  font-size: 3vh;
  margin-bottom: .5vh;
  text-align: center;
}
.inputfield-modal-form{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.input-modal{
  height: 3.2vh;
  width: 80%;
  background-color: transparent;
  border: 1px solid white;
  font-size: 2.3vh;
  padding: 0.3vh;
}
.button-modal{
  width: 20%;
  height: 4vh;
  border: 0px;
  background-color: #00205a;
  border: 1px solid white;
  border-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal img{
  height: 8vh;
  width: 8vh;
  margin-bottom: 3vh;
}
.button-modal img{
  height: 1vh;
  width: 2vw;
  margin: 0px;
}
.latest-news{
  width: 18.8vw;
  border-bottom: 1px solid white;
}
