.dark-mode{
  background-color: hotpink;
  color: white;
  transition: 0.5s ease;
}
.navbar-container{
  width: 100%;
  height: 10vh;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar{
  background-color: aqua;
  width: 100%;
  height: 10vh;
}
body{
  margin: 0px;
  padding: 0px;
  height: 1000vh;

}

/*MODAL*/

.modal-background{
  width: 100%;
  height: 100%;
  background-color: black;

  opacity: .5;
  position: fixed;
  z-index: 1;
  display: none;
}
.modal{
  display: none;
  z-index: 1;
  color: black;
  width: 500px;
  height: 300px;
  position: fixed;
  top: 20%;
  left: 20%;
  background-color: white;
  text-align: center;
}
