@media only screen and (max-width: 1100px) {
  body{
    width: 100vw;
  }
  /****************/
  /* NAVBAR DESGIN*/
  /****************/
  .burger-container{
    grid-column: 8;
    grid-row: 2;
    display: block;
  }
  .burger-container:hover{
    cursor: pointer;
  }
  .burger{
    display: block;
    transition: all .4s ease;
  }
  .nav-item{
    display: none;
  }
  .burger{
    width: 49px;
    background-color: white;
    margin: 0 0 14px 0;
  }
  .navbar-logo{
    width: 152px;
    height: auto;
    grid-column: 2 / 2;
    grid-row: 2;
    z-index: 300;
  }
  .main-navbar{
    height: 7vh;
    width: 100vw;
    position: fixed;
    z-index: 300;
    display: flex;
    align-items: center;
  }
  .navbar-container{
    display: grid;
    grid-template-rows: 2.5vh 4.5vh;
    grid-template-columns: 3vw 200px 3fr 1fr 1fr 1fr 1fr 10vw;
  }
  /****************/
  /*FADING THE IMG*/
  /****************/
  .first-hero::after {
    position: sticky;
    background-image: linear-gradient(to bottom, transparent 0%, #1A1A24 100%);
    margin-top: 71vh;
    height: 31vh;
  }
  /*****************/
  /*  HERO DESIGN  */
  /*****************/

  .hero{
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-headline{
    font-family: "AktivGrotesk-Bold";
    font-size: 6vh;
    letter-spacing: 0.18px;
    line-height: 34px;
    position: absolute;
    /* padding-top: 60vh; */
    z-index: 100;
    text-align: left;
    width: 80vw;
  }
  .hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    /* flex-flow: row; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /********************/
  /*BETWEEN DIV DESIGN*/
  /********************/
  .between-div p{
    letter-spacing: 1.61px;
    font-size: 2.5vh;
    width: 88vw;
    text-align: left;
    margin-bottom: 3vh;
    line-height: 4vh;
  }
  .between-div h5{
  	height: 13vh;
  	width: 88vw;
  	font-family: AktivGrotesk-Bold;
  	font-size: 7vh;
  	letter-spacing: 1.42px;
  	line-height: 8vh;
  	text-align: left;
    margin-bottom: 14vh;
  }
  .between-div h4{
  	height: 13vh;
  	width: 88vw;
  	font-family: AktivGrotesk-Bold;
  	font-size: 7vh;
  	letter-spacing: 1.42px;
  	line-height: 8vh;
  	text-align: left;
    margin-bottom: 14vh;
  }

  .second-hero{
    height:77vh;
  }
  .third-hero{
    height: 50vh;
  }



  /***************/
  /*GRID IMAGES DESIGN*/
  /***************/
  .grid-pictures{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr,6);
    height: 150vh;
  }
  .grid-image{
    width: 100vw;
  }
  .grid-text{
    height: 30vh;

  }
  .grid-pictures{
    height: 330vw;
  }

  /***************/
  /*FOOTER DESIGN*/
  /***************/
  .newsletter-brochure{
    width: 70vw;

  }
  .newsletter-brochure p{
    margin-bottom: 8px;
    letter-spacing: 2.46px;
    font-size: 2.75vh;
  }
  .footer-logo img{
    width: 60vw;
    margin-top: 10vh;
  }
  .footer-logo{
    height: 25vh;
  }
  .newsletter-brochure input{
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
    padding-left: 0.4vh;
  }
  .newsletter{
    width: 9vw;
    height: 4.08vh;
    /* transform: translate(-0.8vw, -0.15vh); */
  }
  .inputfield{
    height: 4vh;
    margin-bottom: 3vh;
  }
  .inputfield form{
    height: 4vh;
  }
  .email-input{
    height: 6vh;
  }
  .brochure{
    height: 4vh;
    width: 70vw;
    font-size: 1.8vh;
    letter-spacing: 1.07px;
  }
  .newsletter svg{
    width: 5vw;
  }
  .footer-buttons{
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .footer-button{
    padding: 0px;
    width: 100vw;
    /* text-align: center; */
    border-top: 1px solid white;
    font-size: 1.7vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-line{
    width: 100vw;
    margin-top: 0px;
    border-top: 1px solid white;
  }
  .social-media{
    margin-top: 4vh;
    margin-bottom: 2vh;
  }
  .social-media img{
    margin: 0px 30px 43px 30px;
    width: 2.7vh;
    height: 2.7vh;
  }
  .footer-copywrite {
  	height: 17px;
  	width: 100vw;
  	font-family: AktivGrotesk-Light;
  	font-size: 1.5vh;
  	letter-spacing: 1.4px;
  	line-height: 15px;
    text-align: center;
  }
}
